body {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 100%;
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;

}
footer {
    margin-top: auto;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Anton SC', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "azo-mono", monospace;
    font-weight: 400;
    font-style: normal;
}

* {
}

html, body {
    background-color: #FAF7EB;
    padding-left: 10%;
    padding-right: 10%;

}

.flechas{
    width: 10%;
}
textarea:focus, input:focus{
    outline: none;
}
