body {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100lvh;
}

main {
    padding-left: 15%;
    padding-right: 15%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-anton {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.text-handjet-regular {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 470;
    font-style: normal;
    font-variation-settings: "ELGR" 1,
    "ELSH" 2;
}

.text-handjet-bold {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "ELGR" 1,
    "ELSH" 2;
}

